<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Libs Questions</title>
</head>
<body>

    <h1> Mad Libs </h1>
    
    <form action="/madlibs_completion">
        <label> Enter a Place:
            <input type="text" placeholder="place / Setting" name="place">
        </label>
        <br>

        <label> Enter a Noun:
            <input type="text" placeholder="Noun" name="noun">
        </label>
        <br>

        <label> Enter a Verb:
            <input type="text" placeholder="Verb" name="verb">
        </label>
        <br>

        <label> Enter a Adjective:
            <input type="text" placeholder="Adjective" name="adjective">
        </label>
        <br>

        <label> Enter a Plural Noun:
            <input type="text" placeholder="Plural Noun" name="plural_noun">
        </label>
        <br>

        <button> Submit </button>

    </form>
    
</body>
</html>